Repository alishkad7865/EventBuds, pull requests merged in 2023-02, with the labels that each got.

#52 Add Tasks for events
  event-buds-api/Controller/TaskController.py
  event-buds-api/Model/EventModel.py
  event-buds-api/Repository/TaskRepository.py
  event-buds-api/Service/EventService.py
  event-buds-api/Service/TaskService.py
  event-buds-api/main.py
  event-buds-ui/android/app/src/debug/ic_launcher-playstore.png
  event-buds-ui/android/app/src/debug/res/drawable/ic_launcher_background.xml
  event-buds-ui/android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  event-buds-ui/android/app/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  event-buds-ui/android/app/src/debug/res/mipmap-hdpi/ic_launcher.png
  event-buds-ui/android/app/src/debug/res/mipmap-hdpi/ic_launcher_foreground.png
  event-buds-ui/android/app/src/debug/res/mipmap-hdpi/ic_launcher_round.png
  event-buds-ui/android/app/src/debug/res/mipmap-mdpi/ic_launcher.png
  event-buds-ui/android/app/src/debug/res/mipmap-mdpi/ic_launcher_foreground.png
  event-buds-ui/android/app/src/debug/res/mipmap-mdpi/ic_launcher_round.png
  event-buds-ui/android/app/src/debug/res/mipmap-xhdpi/ic_launcher.png
  event-buds-ui/android/app/src/debug/res/mipmap-xhdpi/ic_launcher_foreground.png
  event-buds-ui/android/app/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher_foreground.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  event-buds-ui/android/app/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
  event-buds-ui/resources/Event Buds(1).png
  event-buds-ui/resources/Event Buds.png
  event-buds-ui/resources/Event-Buds.svg
  event-buds-ui/src/api/taskApi.tsx
  event-buds-ui/src/components/EventForm/EventInfoForm.tsx
  event-buds-ui/src/components/Modal/TaskModal.tsx
  event-buds-ui/src/components/Tasks.tsx
  event-buds-ui/src/pages/Create Event/CreateEvent.css
  event-buds-ui/src/pages/Event/Event.css
  event-buds-ui/src/pages/Event/Event.tsx
Labels: EventBuds.UI, EventBuds.API

#55 Fix date issue for create event and task form
  event-buds-api/Repository/EventRepository.py
  event-buds-api/Service/EventService.py
  event-buds-ui/package-lock.json
  event-buds-ui/package.json
  event-buds-ui/src/components/EventForm/AddMembers.tsx
  event-buds-ui/src/components/EventForm/EventInfoForm.tsx
  event-buds-ui/src/components/EventText.tsx
  event-buds-ui/src/components/Modal/TaskModal.tsx
  event-buds-ui/src/components/Tasks.tsx
  event-buds-ui/src/pages/Create Event/CreateEvent.tsx
  event-buds-ui/src/pages/Home/Home.tsx
Labels: EventBuds.UI, EventBuds.API

#61 Tb new changes UI feb25-comments/console cleanup
  event-buds-api/__pycache__/Connection.cpython-310.pyc
  event-buds-api/__pycache__/main.cpython-310.pyc
  event-buds-ui/package-lock.json
  event-buds-ui/src/components/FriendsModal.tsx
  event-buds-ui/src/components/Menu.tsx
  event-buds-ui/src/components/NotificationModal.tsx
  event-buds-ui/src/pages/Home/Home.css
  event-buds-ui/src/pages/Home/Home.tsx
  event-buds-ui/src/pages/Login SignUp/Signup.tsx
  event-buds-ui/src/pages/Manage Friends/ManageFriends.css
  event-buds-ui/src/pages/Manage Friends/MyFriends.tsx
Labels: EventBuds.UI

#63 Tb add friends functionality
  event-buds-api/Auth/AuthHandler.py
  event-buds-api/Controller/EventController.py
  event-buds-api/Controller/UserController.py
  event-buds-api/Model/EventModel.py
  event-buds-api/README.md
  event-buds-api/Repository/EventInvitationRepository.py
  event-buds-api/Repository/EventRepository.py
  event-buds-api/Repository/UserRepository.py
  event-buds-api/Service/EventInvitationService.py
  event-buds-api/Service/UserService.py
  event-buds-api/__pycache__/Connection.cpython-310.pyc
  event-buds-api/__pycache__/main.cpython-310.pyc
  event-buds-ui/package-lock.json
  event-buds-ui/src/api/eventApi.tsx
  event-buds-ui/src/api/taskApi.tsx
  event-buds-ui/src/api/userApi.tsx
  event-buds-ui/src/components/NotificationModal.tsx
  event-buds-ui/src/pages/Home/Home.tsx
  event-buds-ui/src/pages/Login SignUp/Signup.tsx
  event-buds-ui/src/pages/Manage Friends/AddFriends.tsx
  event-buds-ui/src/pages/Manage Friends/ManageFriends.tsx
  event-buds-ui/src/pages/Manage Friends/MyFriends.tsx
  event-buds-ui/src/types/Friends.tsx
Labels: bug, EventBuds.UI, EventBuds.API
